[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "==20.8b1"
ipython = "*"
ptpython = "*"
pylint = "*"
pytest = "*"
 
[packages]
luigi = "*"
numpy = "*"
pandas = "*"
pyarrow = "*"
# pystan = "*"
python-dotenv = "*"
sqlalchemy = "*"

[requires]
python_version = "3.9"

